Pygments==2.19.1
sympy==1.13.3
propcache==0.3.2
torchvision==0.22.1+cu126
huggingface-hub==0.33.0
pandas==2.3.0
aiohappyeyeballs==2.6.1
pyarrow==20.0.0
MarkupSafe==2.1.5
networkx==3.3
nvidia-cusolver-cu12==11.7.1.2
six==1.17.0
regex==2024.11.6
ipdb==0.13.13
pure_eval==0.2.3
nvidia-cusparse-cu12==12.5.4.2
parso==0.8.4
certifi==2025.6.15
decorator==5.2.1
accelerate==1.7.0
aiohttp==3.12.13
tensorboard-data-server==0.7.2
platformdirs==4.4.0
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cusparselt-cu12==0.6.3
math-verify==0.7.0
nvidia-nvtx-cu12==12.6.77
filelock==3.13.1
nvidia-nccl-cu12==2.26.2
python-dateutil==2.9.0.post0
tokenizer==3.4.5
traitlets==5.14.3
ptyprocess==0.7.0
pytz==2025.2
Werkzeug==3.1.3
latex2sympy2_extended==1.10.1
executing==2.2.0
frozenlist==1.7.0
asttokens==3.0.0
nvidia-cudnn-cu12==9.5.1.17
packaging==25.0
typing-inspection==0.4.1
async-timeout==5.0.1
matplotlib-inline==0.1.7
Jinja2==3.1.6
Markdown==3.8
charset-normalizer==3.4.2
idna==3.10
wheel==0.45.1
dill==0.3.8
nvidia-cuda-runtime-cu12==12.6.77
urllib3==2.4.0
click==8.2.1
setuptools==80.9.0
numpy==2.1.2
triton==3.3.1
tzdata==2025.2
nvidia-curand-cu12==10.3.7.77
ipython==8.37.0
hf-xet==1.1.3
PyYAML==6.0.2
pexpect==4.9.0
sentry-sdk==2.35.1
wcwidth==0.2.13
safetensors==0.5.3
aiosignal==1.3.2
nvidia-nvjitlink-cu12==12.6.85
smmap==5.0.2
nvidia-cuda-nvrtc-cu12==12.6.77
yarl==1.20.1
torch==2.7.1+cu126
fsspec==2024.6.1
psutil==7.0.0
exceptiongroup==1.3.0
pydantic==2.11.7
peft==0.15.2
torchaudio==2.7.1+cu126
gitdb==4.0.12
GitPython==3.1.45
pydantic_core==2.33.2
pillow==11.0.0
tokenizers==0.21.1
nvidia-cublas-cu12==12.6.4.1
stack-data==0.6.3
xxhash==3.5.0
tensorboard==2.19.0
tomli==2.2.1
typing_extensions==4.12.2
jedi==0.19.2
annotated-types==0.7.0
requests==2.32.4
multiprocess==0.70.16
nvidia-cufile-cu12==1.11.1.6
pip==25.1.1
grpcio==1.73.0
absl-py==2.3.0
antlr4-python3-runtime==4.13.2
attrs==25.3.0
transformers==4.52.4
mpmath==1.3.0
nvidia-cufft-cu12==11.3.0.4
wandb==0.21.1
datasets==3.6.0
multidict==6.4.4
tqdm==4.67.1
prompt_toolkit==3.0.51
protobuf==6.31.1
